#circular_progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #circular_progress::before{
        content: "";
        position: absolute;
        height: 210px;
        width: 210px;
        border-radius: 50%;
        background-color: #FFF;
    }
    

    